.overlay{
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
}

.LoginModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 280px;
  margin: auto;
  background-color: lightgreen;
  border-radius: 15px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px #212121;   

  button:first-child{
    align-self: flex-end;
    background: none;
    font-weight: bold;
    border: none;
  }

  form{
    display: flex;
    flex-direction: column;
    

    input{
      padding: 5px;
      margin: 5px 8px;  
    }
  }
}
.hidden{
  display: none;
}